/** {
  outline: red 1px solid;
}*/

body {
	background: black;
}

.main {
	background: white;
	min-width: 75rem;
	margin-top: 6.875rem;
	padding-left: 6.25rem;
	height: 31.25rem;
	position: relative;
	z-index: 1;
}

.ryu {
	float: left;
	width: 41.1875rem;
	height: 30.875rem;
}

.ryu-ready, 
.ryu-still, 
.ryu-throwing,
.ryu-cool {
	width: 41.1875rem;
	height: 30.875rem;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-cool {
	background-image: url("../images/ryu-cool.gif");
}

.ryu-ready {
	background-image: url("../images/ryu-ready-position.gif");
}

.ryu-still {
	background-image: url("../images/ryu-standing-still.png");
}

.ryu-throwing {
	background-image: url("../images/ryu-throwing-hadouken.png");
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
  background-repeat: no-repeat;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 9.75rem; 
  height: 5.625rem;
  display: none;
  float: left;
  position: relative;
  top: 166px;
  left: -126px; /*supposed -126 to be set to 520px or 32.5rem*/
  z-index: 10;
}

.instructions-box {
	
	width: 487px;
	height: 376px;
	font-size: 20px;
	position: absolute;
	top: 18px;
	left: 482px;
}

.instructions-box .content{
	padding: 19px;
	border: solid 1px transparent;
}

.content > li {
	list-style-type: none;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	font-size: 30px;
	border: solid 1px transparent;
	margin: 13px 0px 0px 0px;
}

#instruction-1,
#instruction-2,
#instruction-3 {
	display: none;
}

/*#first-line,
#second-line*/
.line1,
.line2 {
	float: left;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
}

 